wheel==0.40.0
pandas==2.0.3
numpy==1.26.4
plotly==5.15.0
plotly-express==0.4.1
ipywidgets
jupyter 
awswrangler==3.10.1
requests
debugpy
pyarrow
scikit-learn==1.6.1
joblib==1.4.2
apache-airflow==2.10.5
apache-airflow-providers-amazon==9.2.0